<form action="Index" method="post">
    <h1>Add new student</h1>
    <label>Student Name</label>
    <input type="text" name="Name" required />
    <br />  <br />
    <label>Student Gender</label>
    Male <input type="radio" name="Gender" value="Male" />
    Female <input type="radio" name="Gender" value="Female" />
    <br />  <br />
    <label>Student Grade</label>
    <input type="number" required name="Grade" min="0" max="10" />
    <br />  <br />
    <label>Student Image</label>
    <input type="url" required name="Image" />
    <br />  <br />
    <input type="submit" value="Add" />
</form>
