<table border="1">
    <tr>
        <th colspan="4">Student Detail</th>
    </tr>
    <tr>
        <th>Student Name</th>
        <th>Student Gender</th>
        <th>Student Grade</th>
        <th>Student Image</th>
    </tr>
    <tr>
        <td>@ViewBag.Student.Name</td>
        <td>@ViewBag.Student.Gender</td>
        <td>@ViewBag.Student.Grade</td>
        <td>
         <img src="@ViewBag.Student.Image" 
              width="100" height="120"/>
        </td>
    </tr>
</table>