
@{
    ViewBag.Title = "Danang";
}

<h2>Đà Nẵng is the most liveable city in Việt Nam</h2>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9wyxh16Lgj48wdabvcjP1BhJ7B33UqranaYq7ITN-7A&s" />

