
@{
    ViewBag.Title = "Hanoi";
}

<h2>@ViewBag.HN</h2>
<h3>The current year is @ViewData["Year"]</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/6yKlTn-LBFU?si=ZCwWVhYhv7Vw3lTz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<img src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2017-06/vietnam-travel-5.jpg?itok=XVnHP3ty" />
